# DigitalOcean API Token
# Get from: https://cloud.digitalocean.com/account/api/tokens
do_token = "dop_v1_your_token_here"

# Root domain (should already exist in DigitalOcean)
domain = "lumina.study"

# IP address of the Lumina droplet
# Get from: doctl compute droplet list
droplet_ip = "xxx.xxx.xxx.xxx"
